

<div class="bigbox">
 <div class="box">
   <% @messages.each do |message| %>
     <div class="message">
     <div class="top-message">
      <li class="writing"><%= message.body %> </li>
      </div>

      <div class="bottom-message">
      <span >from </span><%= message.sender.name %>
      </div>
      </div>
     <% end %> 

     </div>
     </div>





     

































 