

<div class="bigbox">
 <div class="box">
   <% @messages.each do |message| %>
     <div class="message">
     <div class="top-message">
      <li class="writing"><%= message.body %> </li>
      </div>

      <div class="bottom-message">
       <a><%=link_to  message.sender.name, user_path(message.sender) %></a>
      </div>
      </div> 
     <% end %>      

     </div>   
     </div>









     

































 