 
 
<%= div_for (comment), :class => "well" do %>

	
    <div class="show_profile">
      <%= link_to ( image_tag(comment.user.image.url, class:"gravatar", style: "; height:30px") ), user_path(comment.user) if comment.user.image %>     
      	
	<p> <strong> <%= comment.user.name%> </strong> </p>

      </div>     

	<p> <%= comment.body%> </p>
<% end %>  


 







