 
 
<%= div_for (comment) do %>

	<p>
	   <strong> Posted <%#= time_ago_in_words(comment.created_at) %> ago</strong> </br>
	</p>

	<p> <%= comment.body%> </p>
    <div class="show_profile">
      <%= link_to ( image_tag(comment.user.image.url, class:"gravatar", style: "; height:30px") ), user_path(comment.user) if comment.user.image %>     
      </div>
	<p> <strong> <%= comment.user.name%> </strong> </p>     

<% end %>  


 







