  <%= render 'shared/page_title',title: "User:"+ @user.name %>  


	<div class="col-md-4 pull-left center">  
		<%= gravatar_for @user,size: 200 %> 
		<hr/> 
		<p>
			<h5>Name: <%= @user.name %></h5>
		</p> 
</div>


<!-- User created content  will be displayed below -->


 
 

 
   
  









