
 <div class="center jumbotron">
  <h1 class="black1">
     Welcome To Content App
  </h1>
   
 <h3 class="black">
     Where You Can Upload Your Stuff For Users To Read  
 </h3>

 <%= link_to "Register as author",register_author_users_path,class: "btn btn-lg btn-success"%>


 <%= link_to "Register as reader",register_reader_users_path,class: "btn btn-lg btn-success pull-right"%>


 </div> 